* { margin: 0;padding: 0;box - sizing: border - box; }

html, body {
    width: 100%;
    height: 100%;
    background: #000;
}
canvas {

    position: relative;
    margin: auto;
    display: block;
    /* border: solid 2px #ccc; */
    margin-top: 40px;
}

.jugadorPuntaje {
    border: solid 1px white;
    padding: 10px;
    color: white;
    font-family: 'Courier new';
    max-width: 90px;
    margin: 20px 10px;
}

.jugadorPuntaje p {

}

.jugadorPuntaje h4 {
    padding: 10px 0px;
    border-top: solid 1px white;
}
