* { margin: 0;padding: 0;box - sizing: border - box; }

html, body {
    width: 100%;
    min-height: 100%;
    background: #000;
}
canvas {
    width: 336px !important;
    height: 372px !important;
    position: relative;
    margin: auto;
    display: block;
    /* border: solid 1px #ccc; */
    margin-top: 40px;
}

.jugadorPuntaje {
    border: solid 1px white;
    padding: 10px;
    color: white;
    font-family: 'Courier new';
    max-width: 90px;
    margin: 20px 10px;
}

.jugadorPuntaje p {

}

.jugadorPuntaje h4 {
    padding: 10px 0px;
    border-top: solid 1px white;
}

#fps{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #3ed03e;
    padding: 14px;
    font-family: 'Courier New';
}